# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# 临时
*.log
*.tmp

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
.npm/
